[report]
omit =
    */__pycache__/*
    *.pyc
    *asyncio/*
    *concurrent/*
    *ctypes/*
    *decimal.py
    *encodings/*
    *hmac.py
    *html/*
    *http/*
    *mimetypes.py
    *multiprocessing/*
    *numbers.py
    *stringprep.py
    *uuid.py
    *six.py
    *mistune.py
    *itsdangerous.py
    *yaml/*
    *werkzeug/*
    *jinja2/*
    *jsonschema/*
    *flask/*
    *flask_restful/*
    *click/*
    *flasgger/*
    *markupsafe/*
    *markupsafe/*
    *chardet/*
    *urllib3/*
    *idna/*
    */requests/*
*api/v1/__init__.py